MISTRAL_API_KEY=
GEMINI_API_KEY=

QDRANT_URL=http://qdrant:6333
QDRANT_COLLECTION=medical_coding

EMBEDDING_MODEL=BAAI/bge-small-en-v1.5

REDIS_URL=redis://redis:6379

LANGFUSE_BASE_URL=http://host.docker.internal:3000
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=

NEMOGUARDRAILS_LLM_FRAMEWORK=langchain