fastapi
uvicorn[standard]
streamlit
requests

langchain
langchain-community
langchain-qdrant
langchain-huggingface
langchain-mistralai
langchain-text-splitters
langchain-google-genai

qdrant-client
sentence-transformers

flashrank
redis

nemoguardrails
langfuse

pypdf
python-dotenv
pydantic

pdf2image
pytesseract

